.homepage_body {
    background-image: url('/public/image/Homepage_background.png'); 
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* .content {
    
} */

.title{
    color: #F1F6F9;
    font-size: 80px;
    font-family: Suez One;
    font-weight: 400;
    letter-spacing: 8px;
    word-wrap: break-word;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    color: rgba(255, 255, 255, 0.95);
    font-size: 45px;
    font-family: Crimson Text;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}
