/* ChonMayIn */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.printer-location {
  color: #083e65;
  margin: 20px 0;
}

.printer-table,
.order-file-table {
  border: solid 1px #cacaca;
  border-radius: 30px;
  width: 80%;
  min-height: 25vh;
  padding: 0 20px;
  margin: auto;
}

.printer-table-title,
.order-file-table-title {
  display: flex;
  padding: 15px 0;
  border-bottom: solid 3px #cacaca;
}

.printer-title {
  color: #707070;
  font-weight: 600;
  font-size: 20px;
  width: 20%;
  text-align: center;
  padding: 10px;
  border-bottom: solid 3px #cacaca;
}

.printer-list {
  list-style: none;
}

.printer-item {
  display: flex;
  
  border-bottom: solid 1px #cacaca;
}

.printer-item-content {
  width: 20%;
  padding-top: 12px;
  border-top: solid 1px #cacaca;
  font-size: 16px;
}

input {
  margin-right: 10px;
}
